<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/Semantic-UI-CSS-master/semantic.min.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/static/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.js"></script>
    <title>管理员登录</title>
</head>
<body>
<div style="margin: auto;width: 35%;height: 15%;"></div>
<div style="margin: auto;width: 35%;height: 50%;">
    <div class="ui horizontal divider" style="font-size:20px">管理员登录</div>
    <form class="ui form segment" method="post" action="#" th:action="@{/admin/login}">

        <div class="field">
            <label>Username</label>
            <input placeholder="请输入用户名" name="nickname" type="text">
        </div>
</html>
        <div class="field">
            <label>Password</label>
            <input type="password" placeholder="请输入密码" name="pwd">
        </div>
        <div style="text-align: center;">
            <button class="ui primary button" style="width: 100%">登录</button>
        </div>
        <div class="ui error message"></div>
        <!--        只有有message才显示-->
        <div class="ui negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>
    </form>
</div>
</body>

<script>
    $('.ui.form')
        .form({
            fields: {
                username: {
                    identifier: 'nickname',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '请输入用户名！'
                        }
                    ]
                },
                password: {
                    identifier: 'pwd',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '请输入密码！'
                        },
                        {
                            type: 'minLength[6]',
                            prompt: '您的密码至少应该有6个字符！'
                        }
                    ]
                }
            }
        })
    ;
</script>