<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="admin/common/header :: header"></th:block>
    <script type="text/javascript" th:src="@{~/static/adminstatic/script/news/controlTagList.js}"></script>
    <title>标签列表</title>

</head>
<body style="background: #FFFFFF;width: 100%;min-height: 900px;overflow: hidden">
<section class="navigation-header">
    <ol class="navigation">
        <li>标签列表</li>
        <li class="active">音乐标签</li>
    </ol>
</section>
<div class="row" style="height: 10px"></div>
<!--搜索查询部分-->
<div class="row" style="background: #FFFFFF">
    <form class="form-horizontal">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="form-group">
                    <label title="for" class="control-label col-sm-4">标签名称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" placeholder="标签名称"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
<!--                <button type="button" class="btn btn-primary" onclick="controlTagList.event.searchNewsList()"><i-->
<!--                        class="fa fa-search">   查询</i></button>-->
<!--                 &nbsp;&nbsp;-->
                <button type="button" class="btn btn-primary" onclick="controlTagList.event.addNewTag()"><i class="fa fa-plus"> 新增</i></button>

            </div>
        </div>
    </form>
</div>
<div class="row" style="padding-left: 15px;padding-right: 15px">
    <div class="col-sm-12">
        <table id="search_table"></table>
    </div>
</div>

</body>
<script>
    $(document).ready(function () {
        controlTagList.init.tableInit();
        controlTagList.init.initModal();
    });
</script>
</html>
