<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="sider" class="col-md-3">
        <div class="list-group">
            <a id="m-1" href="/user/user" class="list-group-item">
                <span class="glyphicon glyphicon-user"></span>&nbsp;会员中心
            </a>
            <a id="m-2" href="/user/pwd" class="list-group-item">
                <span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码
            </a>
            <a id="m-3" href="/user/comment" class="list-group-item">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;评论记录
            </a>
            <a id="m-4" href="/user/loginlog" class="list-group-item">
                <span class="glyphicon glyphicon-calendar"></span>&nbsp;登录日志
            </a>
            <a id="m-5" href="/user/musiccol" class="list-group-item">
                <span class="glyphicon glyphicon-heart"></span>&nbsp;收藏音乐
            </a>
            <a id="m-6" href="/user/uploadmusic" class="list-group-item">
                <span class="glyphicon glyphicon-upload"></span>&nbsp;上传音乐
            </a>
        </div>
    </div>
</head>
</html>